<div class="container">
    <h1 class="text-center">My Todo list</h1>
</div>

<!-- Button to Trigger Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Todo
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add a todo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit()">
                    <div class="from group">
                        <label for="title">Todo Title</label>
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
                    </div>
                    <div class="from group">
                        <label for="desc">Todo Description</label>
                        <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc">
                    </div>
                    <br>
                    <!-- <button type="submit" class="btn btn-sm btn-primary">Add Todo</button> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Add
                    Todo</button>
            </div>
        </div>
    </div>
</div>