<div class="my-3">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
    <div class="from-group from-check">
        <input type="checkbox" class="from-check-input" id="todo{{i}}" (click)="onChackboxClick(todo)"
            [checked]="!todo.active">&nbsp;
        <label class="from-check-label" for="todo{{i}}">Mark as Done</label>
    </div>
    <br>
    <button class="btn btn-sm btn-danger" (click)="OnClick(todo)">Delete</button>
</div>